<div class="text-start text-white">
  <form action="auth/login" method="post" id="login">
    <div class="w-75 mx-auto mb-3">
      <label for="loginMail" class="form-label">Email</label>
      <input type="email" class="form-control" id="loginEmail" name="email" />
    </div>
    <div class="w-75 mx-auto mb-4">
      <label for="loginPassword" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="loginPassword"
        name="password"
      />
    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-right-to-bracket"></i>
        <span class="mx-1 p-1">Accedi</span>
      </button>
    </div>
  </form>
</div>
