<% if (success.length > 0) { %>
<div class="alert alert-success w-50 mx-auto"><%- success[0] %></div>
<% }; %> <% if (error.length > 0) { %>
<div class="alert alert-danger w-50 mx-auto"><%- error[0] %></div>
<% }; %>
