<nav class="navbar navbar-dark bg-dark p-2">
  <div class="container-md">
    <span class="navbar-brand mb-0 h1">Socialify</span>
    <a href="/auth/logout" class="btn btn-danger">Esci</a>
  </div>
</nav>
