<div class="text-start text-white h-100 mt-3">
  <form action="api/v1/post" method="post">
    <div class="w-75 mx-auto mb-3">
      <label for="content" class="form-label">Descrizione</label>
      <textarea
        name="content"
        id="content"
        cols="30"
        rows="10"
        class="form-control"
      ></textarea>
    </div>
    <div class="text-center mb-3">
      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-share"></i>
        <span class="mx-1 p-1">Pubblica</span>
      </button>
    </div>
  </form>
</div>
