<!DOCTYPE html>
<html lang="it">
  <%- include("./partials/head"); %>
  <body>
    <div class="dashboard d-flex flex-column h-100">
      <%- include("./partials/navbar"); %>
      <div class="form flex-fill text-center"></div>
      <%- include("./partials/footer"); %>
    </div>
  </body>
</html>
